/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
/* Estilos para el menú de navegación */
nav {
    text-align: center;
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555; /* Cambia el color al pasar el cursor */
}
/* Estilos para el icono del logo */
.logo-link {
    position: absolute;
    top: 10px;
    left: 10px;
}

.logo {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

/* Ajusta los estilos del enlace al pasar el cursor */
.logo-link:hover {
    opacity: 0.7; /* Cambia la opacidad al pasar el cursor */
}
/* Estilos para el fondo negro de toda la página */
body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra del menú */
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    transition: background-color 0.3s;
}

/* Cambiar opacidad al desplazarse hacia abajo */
header.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
}
/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 20px;
    text-align: left;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-logo {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    margin-bottom: 20px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.footer-links a:hover {
    color: #cc0e0e; /* Cambia el color al pasar el cursor */
}
.menu-buttons {
    position: absolute;
    left: 70px;
    top: 25%;
    transform: translateY(-50%);
}

.menu-buttons button {
   background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    padding: 10px 70px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.menu-buttons button:hover {
    background-color: #cc0e0e;
}

/* Estilos para el resto del menú */
nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    position:relative;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #cc0e0e;
}
/* Estilos para la sección de carteleras */
.carteleras {
    padding: 20px;
}

.carteleras h2 {
    font-size: 24px;
    margin-bottom: 20px;

}

.pelicula {
    width: calc(30%-10px);
    margin-bottom: 20px;
}


.pelicula img {
    width: 7%; /* Ajusta el tamaño de la imagen */
    cursor:pointer; /*cambia el cursor a una mano*/
}
/* Estilos para la sección de carteleras */
.carteleras {
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de superposición */
    z-index: 1; /* Colocar encima de la imagen de fondo */
}

.carteleras-background {
    width: 100%;
    z-index: 0; /* Detrás de la superposición */
}
#cambiar-imagen {
    position:unset;
    top: 30px;
    left: 20px;
    z-index: 2; /* Colocar encima de la superposición */
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.titulo-cartelera {
    margin-bottom: 20px;
    z-index: 2; /* Colocar encima de la superposición */
}

.carteleras h2 {
    font-size: 24px;
    margin: 0;
    color: #fff;
}

.peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2; /* Colocar encima de la superposición */
}

.pelicula {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    position: relative;
}

.pelicula img {
    width: 100%;
    cursor: pointer;
}

.pelicula h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    margin: 0;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.pelicula:hover h3 {
    opacity: 1;
}
